body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: #FEFAE0;
}

.navbar {
    width: 100vw;
    margin-top: 1rem;
    border: 2px solid #DDA15E
}

#display {
    /* flex-direction: column; */
    /* display: flex; */
    flex-wrap: wrap;
    width: 100vw;
    text-align: center;
    margin-top: auto;
}



h3 {
    font-size: 1rem;
}

.accordion-button {
    background-color: orange;
}

.btn-text {
    text-align: center;
}

footer {
    /* display: block; */
    background-color: #000;
    color: white;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    margin: auto;
}

h6 {
    padding: .5rem;
    text-align: center;
    font-size: .8 rem;
    margin: auto;
}