body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #FEFAE0;
    
  
}

.navbar {
    width: 100vw;
    margin-top: 1rem;
    border: 2px solid #DDA15E
}

#display {
    width: 100vw;
    text-align: center;
    margin-top: auto;
}

footer {
   
    background-color: #000;
    color: white;
    position: fixed;
    width: 100vw;
    bottom: 0;
    margin: auto;
}

h6 {
    padding: .5rem;
    text-align: center;
    font-size: .8 rem;
    margin: auto;
}